/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "NEW_MACRO";
        };
    };

    behaviors {
        aspas: aspas {
            compatible = "zmk,behavior-tap-dance";
            label = "ASPAS";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SQT>, <&kp DOUBLE_QUOTES>;
        };

        til_crase: til_crase {
            compatible = "zmk,behavior-tap-dance";
            label = "TIL_CRASE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp TILDE>, <&kp GRAVE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

            display-name = "Base Win";
            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E         &kp R  &kp T      &kp Y            &kp U  &kp I          &kp O    &kp P     &kp BSPC
&kp TAB     &kp A  &kp S  &kp D         &kp F  &kp G      &kp H            &kp J  &kp K          &kp L    &kp SEMI  &kp RETURN
&kp LCTRL   &kp Z  &kp X  &kp C         &kp V  &kp B      &kp N            &kp M  &kp COMMA      &kp DOT  &kp FSLH  &kp DELETE
                          &kp LEFT_ALT  &mo 1  &kp SPACE  &kp RIGHT_SHIFT  &mo 2  &kp RIGHT_GUI
            >;
        };

        lower_layer {

            display-name = "Simbolos";
            bindings = <
&trans      &kp EXCLAMATION    &kp AT_SIGN      &kp HASH               &kp DOLLAR  &kp PERCENT  &kp CARET        &kp AMPERSAND   &kp ASTERISK  &kp MINUS  &trans  &kp BSPC
&caps_word  &kp LEFT_BRACKET   &kp LEFT_BRACE   &kp LEFT_PARENTHESIS   &til_crase  &aspas       &kp LEFT         &kp DOWN        &kp UP        &kp RIGHT  &trans  &trans
&kp LCTRL   &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &trans      &trans       &kp EQUAL        &kp UNDERSCORE  &kp PLUS      &trans     &trans  &trans
                                                &kp PRINTSCREEN        &trans      &kp SPACE    &kp RIGHT_SHIFT  &trans          &trans
            >;
        };

        raise_layer {

            display-name = "Numeros";
            bindings = <
&out OUT_USB  &trans          &trans        &trans        &trans        &trans  &kp F5        &msc SCRL_UP    &trans         &kp C_PLAY_PAUSE  &kp C_NEXT  &kp BACKSPACE
&trans        &kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5  &kp NUMBER_6  &kp N7          &kp N8         &kp N9            &kp N0      &kp ENTER
&out OUT_BLE  &bt BT_CLR_ALL  &trans        &trans        &trans        &trans  &trans        &msc SCRL_DOWN  &trans         &trans            &trans      &kp DELETE
                                            &trans        &trans        &trans  &trans        &trans          &kp RIGHT_ALT
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
